body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #e6e4e4;
}
#logo{
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin:auto;
}
header{
    background: transparent;
    color: white;
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 40px;
    text-align: center;
    background: rgb(56, 56, 56);
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.996);
    text-decoration-color: #fff;
}

.car-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.car {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.car img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.carousel-container {
    width: 80%;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 500%;
    animation: slide 10s infinite;
}

.carousel-slide img {
    width: 20%;
    border-radius: 8px;
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(-20%); }
    40% { transform: translateX(-40%); }
    60% { transform: translateX(-60%); }
    80% { transform: translateX(-80%); }
    100% { transform: translateX(0); }
}
/* Estiliza o container do vídeo */
.video-container {
    position: relative;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}


.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#cars{
   color: black; 
   max-width: auto;
   max-height: auto;
}